<% if user_signed_in?%>

	  <div class="jumbotron">
	    <h2 class="text-uppercase" > Consultar por semana </h2>
	    <h3> Ingrese la semana que desee y le avisaremos si esta entra en subasta. </h3>
	  </div>

	  <div class="container">
	    <%= render "form" %>
	  </div>

<% else %>
	<%= render 'layouts/error' %>
<% end %>
