<% if admin_signed_in? || user_signed_in?%>

  <div class="jumbotron">
    <h2 class="text-uppercase" > Búsqueda de semana: </h2>
  </div>

  <div class="container">
    <%= render "form" %>

  </div>
  
<% else %>
	<%= render 'layouts/error' %>
<% end %>