<center><div><div class="panel panel-primary">
<div class="panel-heading">


<h3 class="display-4">¡QUIERO SER PREMIUM!</h3></div>
<div class="panel-body">
        <<h5 class="display-4">Lea atentamente</h5> 
 < 
        <p> Home Switch Home es una plataforma en la que usted podrá participar
        en las subastas de nuestras mejores residencias con precios totalmente accesibles.</p>
        
        <p> Con la contratación del servicio todos los usuarios contarán con 2 CREDITOS por año, de 1 SEMANA CADA UNO. 
          Los mismos le permitirán participar de las subastas vigentes en nuestra plataforma y,<br> de ser el ganador, 
        podrá disfrutar de una semana completa en nuestras lujosas residencias.</p>

        <p> Tambien, tendrá la posibilidad de adquirir la membresía PREMIUM,
        con la que, además de los servicios ya mencionados, contará con la posibilidad
        de adjudicarse residencias por semana EN FORMA DIRECTA!! <br>
          Para esto, las reservas deverán 
        ser realizadas con un rango de anticipación de entre 6 y 8 meses en las semanas disponibles, 
      por eso no pierda tiempo y empiece a disfrutar de nuestros servicios!</p>
       <p>  La membresía premium tendrá una duración de 1 año y tambien contará con 2 CREDITOS por año.</p>
       <br>
        <font face="verdana, arial, helvetica" size=1>
       <p >   La membresía premium no es gratuita, puede ser adquirida abonando un servicio extra.
       Para más información, contáctese con nuestra administración</p>


</div>
</div>
</div>
</center>