<center><div><div class="panel panel-primary">
<div class="panel-heading">


<h3 class="display-4">¡QUIERO SER PREMIUM!</h3></div>
<div class="panel-body">
        <h5 class="display-4">Lea atentamente</h5> <br>

    <table width="500" cellspacing="1" cellpadding="3" border="0" bgcolor="#165480"> 
      <tr> 
        <td> 
        
        </td> 
      </tr> 
      
      <tr> 
        <td bgcolor="#ffffff">
        <font face="verdana, arial, helvetica" size=1> 
       


<p> Los usuarios pueden solicitar formar parte de los clientes premium en cualquier momento del año.
          Dicha solicitud se realiza de manera externa a la pagina, y una vez realizado el tramite, se les indicara a nuestros administradores su usuario y seran beneficiados con todas las caraceristicas de un cliente premium.</p>
        
        <p> La informacion acerca de los requisitos,trámites, y beneficios podra obtenerlas accediendo en el link al pie de la pagina "Acerca de HSH"</p> 

       <p >  Desde ya, muchas gracias por formar parte de nosotros- Atte.: Direccion de HSH.</p>

        </font> 
        </td> 
      </tr> 
    </table>
    
        


</div>
</div>
</div>
</center>




