<body>

	<%= form_for @user do |f| %>
	<div class="form_group ml-5" style="font-size: 10pt">
		<%= f.label :Contraseña %>
		<%= f.password_field :Password  %>
		<%=f.submit 'Confirmar código', class: 'btn btn-primary btn-lg' %>
	</div>
   <%end%>


