<%= form_tag validations_path do %>
  <div class="field">
    <%= label_tag :Codigo %>
    <%= text_field_tag :Codigo, params[:Codigo] %>
    <div class="actions"><%= submit_tag "De Acuerdo",class: 'btn btn-dark btn-mm' %></div>

   <% end %>