

<div class="span6 offset3">
<%= form_for @user do |f| %>


 
  <br>
  <%= f.label :premium, "¡Es usuario premium?}.".html_safe %>
  <%= f.check_box :premium %>
  <br><br>

  <%= f.submit "Guardar" %>
<% end %>
</div>