<span> <h2 class="text-uppercase" > Usuarios registrados:</h2> </span>

<div>
	<table class="table">
			<tr>
				<td style="font-size: 15pt"> Nombre: </td>
				<td style="font-size: 15pt"> DNI: </td>
				<td style="font-size: 15pt"> Email: </td>
			</tr>

			<%#><% @user.each do |user| %>
				<tr>
					<td style="font-size: 8pt"><%%></td>
					<td style="font-size: 8pt"><%%></td>
					
					<td><%= link_to 'Ver perfil',user_lists_show_path, class: 'btn btn-dark btn-mm'%></td>

				</tr>
			

	</table>
</div>
