<style>
    { margin: 0; padding: 0; }

    html { 
        background: url('https://ak9.picdn.net/shutterstock/videos/22089199/thumb/1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>


<div class="float-left">
     <div class="card card-custom mx-5 mt-5" style="width:50rem;" >
        <div class="card-body">
              <p class="card-text">
                <font size=5 face="arial"> 
                    ¡BIENVENIDO A HOME SWITCH HOME!
                </font> 
                <h2>Usuario administrador</h2>

            	  <%= form_for @code do |f| %>
                  <%= f.password_field :pass, class: 'form-control', placeholder: 'Ingrese el código de acceso' %>
                  <br>
            	    <%= f.submit "Ingresar", class: "btn btn-dark btn-lg" %>
            	  <% end %>
              </p>
        </div>
    </div>
</div>
