<body>
	
  	<div class="mt-5" class="mx-5" style="width: 200px;" >
    	<%= link_to 'Ingreso Usuario Administrador',new_user_path, class: 'btn btn-primary' %>
	</div>

	<div class="mt-4" style="width: 200px;">
		<span class="border-bottom">
		<%= link_to 'Ingreso Usuario Cliente',home_users_path, class: 'btn btn-primary' %>
		</span>
	</div>

</body>