
<html>
<body 

</body>
</html>


	<div> <%= image_tag "HSH-Text.svg", class: "logo", style: 'height:50%;width:50%;' %>  </div>


	<div class="mt-4" style="width: 200px;">
		<span class="border-bottom">
		<%= link_to 'Elegí tu destino',home_users_path, class: 'btn btn-primary btn-lg btn-block' %>
		</span>
	</div>


  	<div class="mt-5" class="mx-5" style="width: 200px;"  >
    	<%= link_to 'Ingreso Usuario Administrador',new_user_path, class: 'btn btn-primary btn-lg btn-block' %>
	</div>

</div>