<body>

	<%= form_for @user do |f| %>
	<div class="form_group">
		<%= f.label :Password %>
		<%= f.text_field :Password  %>
		<%=f.submit 'Ingresar', class: 'btn btn-primary' %>
	</div>
   <%end%>


   

</body>


