<% if user_signed_in? %>
 
  <h2>Aca iria la visualizacion del Hot-Sale con todas sus fechas y precios desponibles. Y la opcion de comprarlo.<br> Me dio paja, despues lo hago<h2>

  <% else %>
      <center><h2>¡ERROR! Antes debe inciar sesión en nuestro sistema</h2></center>
      <center><h4>Para iniciar sesión o registrarse:</h4></center>

      <center> <%=link_to 'Click aquí', root_path, class: 'btn btn-primary btn-lg' %> </center>

<% end %>
