

 
  <%= simple_form_for @auction do |f| %>

  <%= f.input :residencia_id , :readonly => true   %>

  <%= f.input :precioBase %>

  <button type= f.submi class="btn btn-primary"> Subastar </button>

<% end %>