


<%= simple_form_for @auction do |f| %>

  <%= f.input :id , :readonly => true %>
  <%= f.input :precioBase %>
  <%= f.input :email %>
  
  <button type= f.submit class="btn btn-primary"> </button>
      
<% end %>
