<header>
    <div class="navbar navbar-inverse navbar-fixed-top mb-0" role="navigation">
      <div class="container">

            <%= link_to home_users_path, class: 'navbar-brand' do %>
            <%= image_tag "HSH-Complete.svg",title: "Logo", class: "logo", style: 'height:100%;width:100%;' %>

            <% end %>

      </div>

    </div>
</header>
