<style>
    { margin: 0; padding: 0; }

    html { 
        background: url('https://ak6.picdn.net/shutterstock/videos/22040926/thumb/1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<div class="float-left">
	<div class="jumbotron mx-5 mt-5">
	      <h2 class="display-4">¡ERROR! <br>Antes debe inciar sesión en nuestro sistema</h2>
	      <hr class="my-4">
	      <p>
	      Para iniciar sesión o registrarse:<br>
	      <%=link_to 'Click aquí', root_path, class: 'btn btn-primary btn-lg' %> 
	      </p>
	</div>
</div>