
<p>Alguien ha solicitado cambiar su contraseña. Puedes hacerlo a través del siguiente enlace.</p>


<p>Si no ha solicitado esto, ignore este correo electrónico.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>
